           /* Imagem */
           .containernutri {
               width: 80%;
           }

           .imagenutri {
               opacity: 1;
               display: block;
               width: 100%;
               transition: .5s ease;
               backface-visibility: hidden;
               margin: -25px auto;

           }

           /* .middle {
               transition: .5s ease;
               opacity: 0;
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               -ms-transform: translate(-50%, -50%);
               text-align: center;
           } */

           /* .containernutri:hover .imagenutri {
               opacity: 0.3;
           } */

           /* .containernutri:hover .middle {
               opacity: 1;
           } */
           /* 
           .buttonnutri {
               background-color: #04AA6D;
               color: white;
               font-size: 16px;
               padding: 16px 32px;
               cursor: pointer;
           } */

           /* Imagem Fim */


           /* Texto */

           .descrição {
               width: 80%;
           }

           .pnutri {
               font-family: Arial, Helvetica, sans-serif;
               font-size: 18px;
               color: white;
               text-justify: auto;
               text-decoration-color: white;
               text-align: justify;
               text-justify: inter-word;
               text-indent: 15px;
           }

           /* Texto Fim */

           /* Tabela */

           #tablenutri {
               font-size: large;
               align-content: center;
               font-family: Arial, Helvetica, sans-serif;
               font-size: 19px;
               color: #42AD55;
               text-align: center;
               text-justify: auto;
               background-color: #262626;
           }

           #pnutri {
               font-family: Arial, Helvetica, sans-serif;
               font-size: 11px;
               color: white;
               text-align: center;
               text-justify: auto;
               text-decoration-color: white;
               margin-top: 5px;
               margin-bottom: 0px;
               text-transform: uppercase;

           }


           table {
               font-size: large;
               align-content: center;
               font-family: Arial, Helvetica, sans-serif;
               font-size: 14px;
               color: rgb(0, 0, 0);
               text-align: center;
               text-justify: auto;
               text-decoration-color: white;
               margin: auto;
               margin-bottom: 10px;

           }

           #trnutri {
               width: 200px;
               background-color: #42AD55;
           }

           th {
               color: white;
               width: 150px;
               background-color: #42AD55;
               font-size: 13px;
           }

           tr,
           td {
               height: 50px;
               background-color: white;

           }

           /* Tabela fim */